pipes_to_cal/src/test/java/CalculatorClientApp/src/conf/xml-resources/web-service-references/CalculatorWSService/wsdl/localhost_8080/CalculatorApp/CalculatorWSService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://calculator.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calculator.me.org/">

<xs:element name="ArithmeticException" type="tns:ArithmeticException"></xs:element>

<xs:element name="add" type="tns:add"></xs:element>

<xs:element name="addResponse" type="tns:addResponse"></xs:element>

<xs:element name="mult" type="tns:mult"></xs:element>

<xs:element name="multResponse" type="tns:multResponse"></xs:element>

<xs:complexType name="mult">
<xs:sequence>
<xs:element name="m" type="xs:int"></xs:element>
<xs:element name="n" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArithmeticException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="add">
<xs:sequence>
<xs:element name="i" type="xs:int"></xs:element>
<xs:element name="j" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>